
.navlink
{
	font-size: 20px;
	text-decoration: none;
}
.fb-img
{
	width: 100px;
	height: auto;
}
.imglogo
{
	width: 170px;
	height: auto;
}
.fb-link
{
	text-decoration: none;
}
.fb-link:hover {
	text-decoration: none;
	color: red;
}
.fb-p
{
	padding-top: 50px;
}
.kontakti {
	text-align: center;
}

hr {
	border: 1px solid black;
}
.img1 {
	width: 100%;
	height: auto;
}
.cont2 {
	text-align: center;
}
.login {
	display: inline-block;
}
.submit {
	background-color: #4CAF50;
	border: 1px solid black;
}
